*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    text-transform: capitalize;
    text-align: center;
    margin: 20px auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
li{
    list-style: none;
}
.navbar{
    background-color: cornsilk;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: crimson;
}
.logo{
    font-size: 30px;
}
.navlist ul{
    display: flex;
    justify-content: space-evenly;
}
.navlist ul li{
    margin: 0 20px;
    font-size: 25px;
}
.navlist ul li:hover{
    color:chartreuse;

}
.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("./img/762-7627685_spotlight-living-room-stock.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 700px;
    height: 950px;
}
 
.bannerText{
    font-size: 50px;
    margin: 60px auto;
}
input[type=button]{
    padding: 25px;
    background-color: lightsteelblue;
    border-radius: 7px;
    width: 150px;
    font-size: 30px;

}